#banner {
    position: relative;
    margin-top: 22px;
    height: 347px;
    background-color: #f5f5f5;
    
    .carousel-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        overflow: hidden;

        .carousel-wrapper {
            position: absolute;
            width: 100%;
            height: 100%;

            .carousel-slider {
                position: absolute;
                width: 100%;
                height: 100%;

                .slide {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }
        }
    }
    
    .controls {
        position: absolute;
        top: 40%;
        right: 25px;
        z-index: 1000;
        margin: 0;
        padding: 0;
        width: 18px;
        text-align: center;

        li {
            margin: 15px 0 0 0;
            padding: 0;
            width: 18px;
            height: 18px;
            background: url(../images/profite-sprite.png) no-repeat -214px -164px;
            color: transparent;
            font: 0/0 serif;
            cursor: pointer;
            zoom: 1;

            &:first-child {
               margin: 0; 
            }

            &.active {
                background-position: -188px -164px;
            }
        }
    }
}
@media screen and (max-width: 990px) {
    #banner {
        .controls {
            display: none;
        }
    }
}
@media screen and (max-width: 650px) {
    #banner {
        height: 240px;
    }
}
@media screen and (max-width: 450px) {
    #banner {
        height: 155px;
    }
}
@media screen and (max-width: 320px) {
    #banner {
        height: 120px;
        margin-top: 5px;
    }
}