* {
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    -webkit-font-smoothing: antialiased;
}

.clearfix:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: ".";
}

.clearfix,
.gain-layout {
    *zoom: 1;
}

.wrapper {
    margin: 0 auto;
    padding: 0 10px;
    width: 970px;
}

@media screen and (max-width: 990px) {
    .wrapper {
        width: 100%;
        padding: 0;
    }
}