<!-- Banner -->
<section id="banner" class="clearfix" ng-controller="CarouselCtrl">
    <div hj-carousel="slide in data.slides" hj-carousel-options="carouselOptions">
        <div class="slide" ng-style="{'background-image': 'url(' + slide.img + ')'}">
        </div>
    </div>
    <ul class="controls">
        <li ng-repeat="slide in data.slides" ng-click="carouselEmitter('goTo', $index)" ng-class="{active: $index == activeSlideIndex}" ng-bind="{{$index + 1}}"></li>
    </ul>
</section>
<!-- Products -->
<section id="products" class="clearfix" ng-controller="ProductsCtrl">
    <div ng-repeat="product in products">
        <div class="item-product-hover">
            <div class="item-product">
                <img ng-src="{{product.img}}" height="170" width="170" alt="{{product.name}}">
                <h2>
                    {{product.name}}
                </h2>
                <div class="rating-stars">
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                    <span class="star"></span>
                </div>
                <span class="price">
                <del>{{product.previous_price}}</del><br />
                <strong>Por: <em>R$ {{product.actual_price}}</em></strong><br />
                <em>ou <strong>até {{product.installments}}x</strong> de <strong>R$ {{product.installments_value}}</strong></em>
              </span>
                <button type="button">Comprar</button>
            </div>
            <span class="save">Economize: R$ {{product.save}}</span>
        </div>
    </div>
</section>
